USE [master]
GO
/****** Object:  Database [DataBaseMM]    Script Date: 15/05/2020 10:33:23 ******/
CREATE DATABASE [DataBaseMM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DataBaseMM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\DataBaseMM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DataBaseMM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\DataBaseMM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DataBaseMM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DataBaseMM]
GO
USE [DataBaseMM]
GO
/****** Object:  Table [dbo].[AmountPeopleInShelter]    Script Date: 15/05/2020 10:33:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AmountPeopleInShelter](
	[AmountpplKey] [int] IDENTITY(1,1) NOT NULL,
	[ShelterKey] [int] NOT NULL,
	[AmountPPLSpeDH] [int] NULL,
	[Date] [date] NULL,
	[Time] [time](7) NULL,
 CONSTRAINT [PK_AmountPeopleInShelter] PRIMARY KEY CLUSTERED 
(
	[AmountpplKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clerks]    Script Date: 15/05/2020 10:33:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clerks](
	[ClerkKey] [int] IDENTITY(1,1) NOT NULL,
	[ClerkFName] [nvarchar](20) NOT NULL,
	[ClerkLName] [nvarchar](20) NOT NULL,
	[ClerkPassword] [nchar](10) NOT NULL,
	[IfManager] [bit] NOT NULL,
 CONSTRAINT [PK_Clerks] PRIMARY KEY CLUSTERED 
(
	[ClerkKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shelters]    Script Date: 15/05/2020 10:33:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shelters](
	[ShelterKey] [int] IDENTITY(1,1) NOT NULL,
	[LatShelter] [float] NOT NULL,
	[LngShelter] [float] NOT NULL,
	[MaxPeople] [int] NULL,
	[ShelterDescription] [nvarchar](50) NULL,
 CONSTRAINT [PK_Shelters] PRIMARY KEY CLUSTERED 
(
	[ShelterKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AmountPeopleInShelter]  WITH CHECK ADD  CONSTRAINT [FK_AmountPeopleInShelter_Shelters] FOREIGN KEY([ShelterKey])
REFERENCES [dbo].[Shelters] ([ShelterKey])
GO
ALTER TABLE [dbo].[AmountPeopleInShelter] CHECK CONSTRAINT [FK_AmountPeopleInShelter_Shelters]
GO
USE [master]
GO
