<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DataBaseMMEntities" connectionString="metadata=res://*/ModelMM.csdl|res://*/ModelMM.ssdl|res://*/ModelMM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=DataBaseMM;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>