<div class="form">
  <div class="tab-content">
    <div class="homeIcon" pTooltip="חזרה לדף הראשי" tooltipPosition="bottom" (click)="backToHomePage()">
      <i class="pi pi-home"></i>
    </div>
    <div id="signup">
      <div class="logOut" (click)="logOut()">יציאה</div>
      <h1 id="headerShelter">{{header}}</h1>
      <p-messages [(value)]="msgs"></p-messages>
      <form [formGroup]="addShelterForm" (ngSubmit)="ifAdd ? addShelter() : updateShelter()">



        <div class="field-wrap">
          <span class="ui-float-label">
            <input id="float-input" type="text" size="30" pInputText autocomplete="off" formControlName="AddressShelter"
              [(ngModel)]="Address" name="AddressShelter" id="autocomplete"
              (focus)="geolocate()"
              type="text">
              
            <label for="float-input">כתובת*</label>
          </span>
          <p-message severity="error" text="חובה למלא כתובת"
            *ngIf="!addShelterForm.controls['AddressShelter'].valid && addShelterForm.controls['AddressShelter'].dirty">
          </p-message>
        </div>

        <div class="field-wrap">
          <span class="ui-float-label">
            <input id="float-input" type="text" size="30" pInputText autocomplete="off" formControlName="maxPeople"
              [(ngModel)]="Shelter.MaxPeople" name="maxPeople">
            <label for="float-input">מספר שוהים מקסימלי*</label>
          </span>
          <p-message severity="error" text="חובה למלא כמות מקסימלית של אנשים"
            *ngIf="!addShelterForm.controls['maxPeople'].valid && addShelterForm.controls['maxPeople'].dirty">
          </p-message>
        </div>

        <div class="field-wrap">
          <span class="ui-float-label">
            <input id="float-input" type="text" size="30" pInputText autocomplete="off" formControlName="description"
              [(ngModel)]="Shelter.ShelterDescription" name="description">
            <label for="float-input">תאור*</label>
          </span>
          <p-message severity="error"
            [text]="addShelterForm.controls['description'].errors['required'] ? 'חובה למלא  תאור' : addShelterForm.controls['description'].errors['minlength'] ? ' תאור חייב לכלול לפחות 4 תווים' : addShelterForm.controls['description'].errors['maxlength'] ? 'תאור יכול לכלול עד 50 תווים ' :''"
            *ngIf="!addShelterForm.controls['description'].valid && addShelterForm.controls['description'].dirty">
          </p-message>
        </div>

        <button pButton type="submit" class="button button-block ui-button-success sizeOfButton" *ngIf="ifAdd">הוסף מקלט</button>
        <button pButton type="submit" class="button button-block ui-button-success sizeOfButton" *ngIf="ifUpdate">עדכן מקלט</button>
      </form>
    </div>
    <div id="login">

    </div>
  </div><!-- tab-content -->
