<div class="form">
    <div class="tab-content">
      <div id="signup">
        <h1>הוספת מקלט</h1>
  
        <!-- <form action="/" method="post"> -->
  
      
          <div class="field-wrap">
            <label>
              Lat<span class="req">*</span>
            </label>
            <input type="text" required autocomplete="off" [(ngModel)]="Shelter.LatShelter" autocomplete="off"/>
          </div>
        

        
            <div class="field-wrap">
              <label>
                Lng<span class="req">*</span>
              </label>
              <input type="text" required autocomplete="off" [(ngModel)]="Shelter.LngShelter" autocomplete="off"/>
            </div>
        
  
        <div class="field-wrap">
          <label>
            Max People<span class="req">*</span>
          </label>
          <input  required autocomplete="off" [(ngModel)]="Shelter.MaxPeople" />
        </div>

        <div class="field-wrap">
            <label>
              Description<span class="req">*</span>
            </label>
            <input required autocomplete="off" [(ngModel)]="Shelter.ShelterDescription" />
          </div>
  
        <button type="submit" class="button button-block" (click)="addShelter()">הוסף מקלט</button>
      </div>
  
      <div id="login">
  
      </div>
    </div><!-- tab-content -->
