
<div class="form">
    <div class="tab-content">
      <div id="signup">
        <h1>מרחב מ(א)ו(ר)גן</h1>
        <div class="messageLtr">
          <p-messages [(value)]="msgs" ></p-messages>
        </div>
        
        <form  [formGroup] = "loginForm" (ngSubmit)="login()" >
  
    
          <div class="field-wrap" *ngIf="!ifClerkLogin">
            <span class="ui-float-label">
              <input id="float-input" type="text" size="30" pInputText autocomplete="off" formControlName="userName" [(ngModel)]="Clerk.ClerkFName"> 
              <label for="float-input">שם משתמש*</label>
            </span>
            <p-message severity="error" text="חובה למלא שם משתמש" *ngIf="!loginForm.controls['userName'].valid && loginForm.controls['userName'].dirty"></p-message>
          </div> 
  
        <div class="field-wrap" *ngIf="!ifClerkLogin">
          <span class="ui-float-label">
            <input id="float-input" type="password" size="30" pInputText autocomplete="off" formControlName="userPassword" [(ngModel)]="Clerk.ClerkPassword"> 
            <label for="float-input">סיסמא*</label>
          </span>
          <p-message severity="error" text="חובה למלא שם משתמש" *ngIf="!loginForm.controls['userPassword'].valid && loginForm.controls['userPassword'].dirty"></p-message>
        </div>
          
        <div *ngIf="ifClerkLogin">שלום {{Clerk.ClerkFName}}</div>

  
        <button type="submit" class="button button-block" *ngIf="!ifClerkLogin" >הכנס</button>
        <button class="button button-block" *ngIf="Clerk.IfManager" routerLink="register" routerLinkActive="active-link">הוספת משתמש</button>
        <button class="button button-block" *ngIf="ifClerkExists()" (click)="openAddShelter()">הוספת מקלט</button>
  
        </form>
  
      </div>
  
      <div id="login">
      </div>
  
    </div>
  
  </div>
  
