
<div class="form">
  <div class="tab-content">
    <div id="signup">
      <h1>מרחב מ(א)ו(ר)גן</h1>

      <!-- <form action="/" method="post"> -->

  
        <div class="field-wrap">
          <label [class.active]="ifKeyDown" [class.highlight]="ifKeyDown">
            שם משתמש<span class="req">*</span>
          </label>
          <input type="text" required autocomplete="off" [(ngModel)]="Clerk.ClerkFName" (keydown)="keyDown()" (keyup)="keyUp()" />
        </div>
     

      <div class="field-wrap">
        <label>
          סיסמא<span class="req">*</span>
        </label>
        <input type="password" required autocomplete="off" [(ngModel)]="Clerk.ClerkPassword" />
      </div>

      <button type="submit" class="button button-block" (click)="login()">הכנס</button>
      <button class="button button-block" *ngIf="Clerk.IfManager" routerLink="register" routerLinkActive="active-link">הוספת משתמש</button>
      <button class="button button-block" *ngIf="ifClerkExists()" (click)="openAddShelter()">הוספת מקלט</button>
    </div>

    <div id="login">

    </div>
  </div><!-- tab-content -->

</div> <!-- /form -->
